.Rproj.user
.Rhistory
.RData
.Ruserdata
Lab1_cache
abstract.log
abstract.tex
beamerposter.log
beamerposter.sty
commonfilters.py
definitions.log
definitions.tex
figures
key.png
keypart.png
kuleuven.png
macros-latex.gpp
makefile-renderer.R
missfont.log
paper-filters.py
poster-blx.bib
poster-filters.py
poster.log
poster.nav
poster.pdf
poster.run.xml
poster.snm
poster.synctex.gz
poster.tex
poster.toc
presentation-filters.py
presentation.tex
report.tex
sedes.pdf
